.AllSongTiles{
    display: flex;
    flex-direction: column;
    margin: 0 45px;
}

.SongDetailsHeader{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 70px;
}

.SongDetailsHeader li{
    width: 33%;
}